<!DOCTYPE html> <!--Convenção 3WSCHOOL-->
<html lang="pt-br"> <!--Define o idioma -->
<head>
<title> Criando Layout em HTML e CSS - exemplo 2</title>
<meta charset="utf-8"/> <!-- acentuação e caracteres especiais -->
<meta name="viewport" content="width=device-width, inicial-scale=1"/> <!--otimização site para dispositivos móveis-->
<link rel="icon" type="image/jpg" href="iconepag.jpg"/> <!-- referente ícone de pagina -->
<link rel="stylesheet" type="text/css" href="estilo.css"> <!-- referente arquivo externo do css -->
</head>
<body>
<div id="page"><!--layout-->
<div id="header"> Cabeçalho da página</div>
<div id="content">Conteúdo da página</div>
<div id="menu">Menu</div>
<div id="footer">Rodapé</div>
</div>
</body>
</html>