/* DOCUMENTO CSS - REGRAS DE ESTILIZAÇÃO PARA EXEMPLO MENU EM TABELAS*/



*{ margin: 0px;/*zerar as demarcações de sites anteriores*/
padding: 0px;
}

body{background-color:#F8F8FF;

}

a{text-decoration: none;/*tirar sublinhado*/
}



h1{font-family: 'Bodoni MT';
font-size: 40px;
color: #8B0000;
text-align: center;
}

h3{font-family: 'Bodoni MT';
font-size: 80px;
color: #000000;
text-align: center;
}

h5{font-family: 'Arial';
font-size: 10px;
color: #000000;
text-align: center;
}