/* DOCUMENTO CSS - REGRAS DE ESTILIZAÇÃO PARA FORMULARIO CONTATO 1*/

*{ margin: 0px;
padding: 0px;
}

body{ background-color:#000000;
}

h1{ font-family: Ms Trebuchet;
font-size: 30px;
color: #FFA500;
text-align: center;
}

form{ margin: 70px;
padding:10px;
}

label{font-family: Ms Trebuchet;
font-size:18px;
color: #FFFFFF;
text-align: left;
line-height : 10px;
}

#text1 {font-family: Ms Trebuchet; /* uso de id */
font-size:15px;
color: #000000;
text-align: left;
line-height : 10px;
}

#text2 {font-family: Ms Trebuchet;
font-size:15px;
background-color:#FFFF00;
color: #000000;
text-align: left;
line-height : 10px;
}

#text3 {font-family: Ms Trebuchet;
font-size:15px;
color: #000000;
text-align: left;
line-height : 10px;
}

#textarea {resize: none; /* não permite redimensionar*/
}

h5{ font-family: Ms Trebuchet;
font-size: 10px;
text-align: center;
color:#FFFFFF;
text-decoration: none; /* coloca uma decoração na font h5*/
font-weight: bold; /* peso da font, aqui em negrito*/
}