<!DOCTYPE html>
<html lang="pt-br">
<head>
<title> PETVET- O Amigo do seu Pet</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, inicial-scale=1"/>
<link rel="icon" type="image/jpg" href="iconepet.jpg"/>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
<div id="header">
<h1><img src="logonovo.png"/></h1>
<ul id="nav">
<li><a href="index.html">home</a></li>
<li><a href="clinica.html">clínica</a></li>
<li><a href="servico.html">serviços</a></li>
<li><a href="contato.html" class="ativa">contato</a></li>
</ul>
</div>
<div id="section_c">
<div class ="contato">
<h1> Fale conosco!</h1>
<form name="contato" action="#" method="post"> <!--o controle label=etiqueta ajuda a acessibilidade: leitor de tela leem este item-->
<table border="0">
<tr><td> <label>Nome</td></tr>
<tr><td><input type="text " required ="required" name="nome" id="text1" size="50" placeholder="Preencha aqui o seu nome!" autofocus /></label></td> </tr>
<tr><td><label>E-mail</td></tr>
<tr><td><input type="email" required ="required" name="email" id="text2" size="50" placeholder="Preencha aqui o seu email!" autofocus /></label> </td></tr>
<tr> <td> <label>Assunto</td></tr>
<tr><td><input type="text" required ="required" name="assunto" id="text3" size="50" placeholder="Preencha aqui o assunto " required autofocus /></label></td> </tr>
<tr> <td><textarea id="textarea" name="textarea " rows ="10" cols="52" placeholder="Deixe aqui seu comentário."></textarea></td></label></tr>
<tr> <td><input type="submit" value="Enviar"></td> </tr>
</table>
</form>
</div>
<div class ="contato1">
<h1>Nosso Endereço</h1>
<p> Avenida Carlos Magno 649 </p>
<p>Jardim Bela Vista </p>
<p> Americana/SP </p>
<p>(19) 3604-8707</p>
<p> petvet2020@gmail.com</p>
</div>
</div>

<div id="footer">
<p>Letócia Oliveira - &copy Todos os direitos reservados </p>
</div>

</body>
</html>